/bin
/distrosite
ram.bin
*.dSYM
*.obj
*.sym
*.dump
*.com
*.exe
*.bin
*.rex
*.lib
*.bak
*.o
*.DS_Store
*.__s
hcsdk-*.deb
hcsdk-*.zip
hcsdk-*.tgz
hcsdk-*.pkg
hcsdk-*.exe
samples/calc/.ticks_history.txt
--list
tests/out/*